<h3><%= name %></h3>
<p><%= address1 %> <%= address2 %></p>
<p><%= city %></p>
<p><%= zip %> <%= country %></p>
<p><%= phone %></p>
<% if(typeof withTax === 'undefined'){%>
    <% if(limitType === 'eachover'){ %>
       <% price = parseFloat((comparator - amount_limit)*price).toFixed(2) %>
        <p> Price : <%= price %></p>
    <% } else {%>
        <p> Price : <%= price %></p>
    <%}%>
<% } else { %>
    <p> Price : <%= price %></p>
<% } %>
<p><span><%= working_hours.sunday %></span></p>
<p><span><%= working_hours.monday %></span></p>
<p><span><%= working_hours.tuesday %></span></p>
<p><span><%= working_hours.wednesday %></span></p>
<p><span><%= working_hours.thursday %></span></p>
<p><span><%= working_hours.friday %></span></p>
<p><span><%= working_hours.saturday %></span></p>
<br/>

<a href="javascript:;" class="apply-pickup" data-pickup-id="<%= id %>">apply pickup</a>
