<% if(fullName) { %><%= firstname  %><% } %>&nbsp;<% if(lastname) { %><%= lastname  %><% } %><br />
<% if(email) { %><%= email  %><% } %><br />
<%- _.compact([firstname, lastname]).join(' ') %><br />
<% if (company) { %>
<%- company %><br />
<% } %>
<%- _.compact([address1, address2]).join(', ') %><br />
<%- _.compact([city, $("select#state option[value="+state+"]").attr("label"), zip, country]).join(', ') %><br />
<% if (phone) { %>
Tel: <%- phone %><br />
<% } %>
<% if (mobile) { %>
Mobile: <%- mobile %><br />
<% } %>
